{
	local_certs
}

local.gainforest.app {
	reverse_proxy 127.0.0.1:3040 {
		header_up Host {host}
	}
}

local-e2e.gainforest.app {
	reverse_proxy 127.0.0.1:{$E2E_PORT:3201} {
		header_up Host {host}
	}
}
